<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../layout/head')%>
    <title>Show Books</title>
</head>
<body>
    <header>
        <%-include('../../layout/header')%>
        <%-include('../../layout/anchor')%>
    </header>
    <main>
      
        <h1>Details</h1>
        <!-- <%-include('./detail')%> -->
        <section>
            <div class="container">
            
                <button class="two-button"> Update Details </button>
                <div>
               
                </div>
                <button class="two-button"> Delete </button>
            </div>

        </section>

    </main>

    <footer>

    </footer>
    
</body>
</html>