<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('../../layout/head')%>
   <title>New Searches</title>
</head>
<body>

  <header>
    <%-include('../../layout/header')%>
    <div>
      <h1 id="h1-new">Search by Title Or Author</h1>
    </div>
  </header>
   <main>
    <%-include('../../layout/anchor')%>
    <section>

  
     <form action="/searches/new" method="POST"   id="main-form">
      <fieldset>
<legend> Add a book</legend>
     
      <div class="form-example">
        <input type="text" name="SearchForm" value="Enter a title or author" id="Search-form" required>
      </div>
      <div class="form-example">
        <label for="Title" id="Title-label">Title 
        <input type="radio" name="radioInput" value="Title" id="Title" >
      </label></div>
      <div class="form-example">
        <label for="Author" id="Author-label">Author 
        <input type="radio" name="radioInput" value="Author" id="Author" ></label>
      </div>
      <div >
        <input type="submit" value="Search the Google Books API" id="submit-form" >
      </div>
    </fieldset>
    </form>
  </section>
  </main>
  <footer>

  </footer>
  
</body>
</html>