<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <!-- <link rel="stylesheet" href="/public/styles/layout.css" type="text/css"> -->
</head>
<body>
    <h1>Hello</h1>
    <ul>
        <% bookTable.forEach(item => {%>
       <img src="<%=item.imgUrl%>" >
       <h2><%=item.title %></h2>
       <h3><%=item.authors %></h3>
       <p><%=item.desc %></p> 


       <%})%>
    </ul>
</section>


</main>
<footer>

</footer>
</body>
</html>