<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../layout/head')%>
    <title>Error</title>
</head>
<body>
    <header>
        <%-include('../layout/header')%>
    </header>
    <main>
        <%-include('../layout/anchor')%>
        <section>
            <article>
                <p>
      
                </p>
            </article>
        </section>

    </main>
    <footer>
        
    </footer>
    
</body>
</html>