<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../layout/head')%>
    <title>Index</title>
</head>
<body>
    <header>
        <%-include('../layout/header')%>
    </header>
    <main>

    
    <h1>Hello World !</h1>
    <%-include('../layout/anchor')%>
</main>
<footer>

</footer>
</body>
</html>